{% extends "app/base.html" %}

{% block title %} {{ block.super }} Início {% endblock title %}

{% block h2 %}
    {{ serie.titulo }}, {{ serie.ano_de_lancamento }}
{% endblock h2 %}

{% block lead %}
    De autoria de: {{ serie.autor }}
{% endblock lead %}

{% block content %}
    {{ serie.resumo }}
    <div class="container my-4">
      <div class="row">
        <div class="col">
            <img class="w-100" src="{{ serie.capa.url }}" alt="foto" />
        </div>
      </div>
    </div>
{% endblock content %}

