{% extends "app/base.html" %}

{% block title %} {{ block.super }} Sobre {% endblock title %}

{% block h2 %}
    Informações sobre o site
{% endblock h2 %}

{% block lead %}
    Criador do site: Ibrahim Guilherme Moraes de Oliveira
{% endblock lead %}

{% block content %}
    Este site foi criado com o objetivo de comprovar meus conhecimentos em desenvolvimento web, utilizando o framework Django. Ele serve como comprovante de finalização da atividade Projeto02 da disciplina PWEB do 3 ano matutino do curso ensino médio técnico integrado em informática para a Internet do IFRN campus São Paulo do Potengi. O site foi desenvolvido com base no modelo de projeto fornecido pelo professor, e todas as funcionalidades foram implementadas de acordo com as especificações do projeto.
{% endblock content %}